/* General styles */
.skill {
  padding: 9rem; /* Adjust padding as desired */
  text-align: center;
  background-color: #f2f2f2;
  height: 960px;
}

.skills-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: left;
}

.skills-container p {
  font-size: 1.1rem; /* Adjust font size as desired */
  line-height: 1.5;
  max-width: 30em; /* Adjust max-width as desired */
  color: #777;
  text-align: left;
}

.skill-sections {
  padding: 9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: calc(33% - 30px);
  text-align: left;
}

.skill-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.skill-section p {
  font-size: 1rem;
  line-height: 1.3;
}

.skills-container {
  text-align: center;
  padding: 20px 0;
  background-color: #f2f2f2; /* Light grey background */
}

.center-text {
  text-align: center;
}
.custom-text {
  color: #718096; /* text-gray-500 */
  font-size: 1.25rem; /* text-xlg */
}

.custom-text.md\:text-xl {
  font-size: 1.5rem; /* md:text-xl */
}

.custom-text.lg\:text-base {
  font-size: 1rem; /* lg:text-base */
}

.custom-text.xl\:text-xl {
  font-size: 1.5rem; /* xl:text-xl */
}

.custom-text.dark\:text-gray-400 {
  color: #cbd5e0; /* dark:text-gray-400 */
}
/* Responsive styles */
@media (max-width: 768px) {
  .skill {
    padding: 4rem 2rem; /* Adjust padding for smaller screens */
  }

  .skills-container h1 {
    font-size: 1.5rem; /* Reduce font size for smaller screens */
  }

  .skills-container p {
    font-size: 1rem; /* Reduce font size for smaller screens */
    max-width: none; /* Remove max-width for smaller screens */
  }

  .skill-section {
    width: calc(50% - 30px); /* Set width to 50% for smaller screens */
  }
}

@media (max-width: 576px) {
  .skill-section {
    width: calc(100% - 30px); /* Set width to 100% for even smaller screens */
  }
}
