/* General styles */
.about {
  padding: 9rem; /* Adjust padding as desired */
  height: 650px;
}

h2 {
  /* Styles for the heading */
  font-size: 2rem; /* Adjust font size as desired */
  margin-bottom: 1rem;
  font-weight: bold; /* Remove aria-hidden if you want the heading to be announced by screen readers */
}

p {
  /* Styles for the paragraph */
  font-size: 1.1rem; /* Adjust font size as desired */
  line-height: 1.5;
  max-width: 30em; /* Adjust max-width as desired */
  color: #777; /* Adjust text color as desired */
}

/* Add dark mode styles if applicable */
.dark .about p {
  color: #ddd; /* Adjust text color for dark mode */
}

.social-links {
  margin-top: 8rem; /* Increase margin-top for more space */
  display: flex; /* Use flexbox to align items */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.social-icon {
  width: 40px; /* Increase width */
  height: 40px; /* Increase height */
  margin-right: 20px; /* Adjust margin between icons */
}

/* Responsive styles */
@media (max-width: 768px) {
  .about {
    padding: 4rem 2rem; /* Adjust padding for smaller screens */
    height: auto; /* Remove fixed height for smaller screens */
    text-align: center; /* Center text on smaller screens */
  }

  h2 {
    font-size: 1.5rem; /* Reduce font size for smaller screens */
  }

  p {
    font-size: 1rem; /* Reduce font size for smaller screens */
    max-width: none; /* Remove max-width for smaller screens */
  }

  .social-links {
    margin-top: 4rem; /* Adjust margin-top for smaller screens */
  }

  .social-icon {
    width: 30px; /* Reduce width for smaller screens */
    height: 30px; /* Reduce height for smaller screens */
    margin-right: 10px; /* Reduce margin between icons for smaller screens */
  }
}
