/* General styles */
.about {
  padding: 9rem; /* Adjust padding as desired */
}

h2 {
  /* Styles for the heading */
  font-size: 2rem; /* Adjust font size as desired */
  margin-bottom: 1rem;
  font-weight: bold; /* Remove aria-hidden if you want the heading to be announced by screen readers */
}

p {
  /* Styles for the paragraph */
  font-size: 1.1rem; /* Adjust font size as desired */
  line-height: 1.5;
  max-width: 30em; /* Adjust max-width as desired */
  color: #777; /* Adjust text color as desired */
}

/* Add dark mode styles if applicable */
.dark .about p {
  color: #ddd; /* Adjust text color for dark mode */
}

.social-links {
  margin-top: 2rem; /* Increase margin-top for more space */
}

.social-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  gap : 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .about {
    padding: 4rem 2rem; /* Adjust padding for smaller screens */
  }

  h2 {
    font-size: 1.5rem; /* Reduce font size for smaller screens */
  }

  p {
    font-size: 1rem; /* Reduce font size for smaller screens */
    max-width: none; /* Remove max-width for smaller screens */
  }
}
