.contact {
  padding: 9rem;
  width: 1000px;
  height: 970px;
}
.para {
  text-align: left;
  margin-top: 10px;
}

.container {
  margin-left: 30rem;
  width: 100%;
  margin-bottom: 3rem;
}
.form-control{
  margin-top : 5px;
}
